.cabecalho {
  background-color: var(--preto);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: var(--verde-limao);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav li a {
  color: var(--branco);
}

.nav li a:hover {
  font-weight: 700;
  font-size: 1.1em;
  color: var(--verde-limao);
  transition: 0.2s ease;
}

.nav li {
  list-style: none;
  padding: 16px 1em;
}

.nav {
  padding: 0 10px;
  margin: 0 10px;
  transition: 0.3s ease;
  display: none;
}

hr {
  display: block;
  height: 1px;
  min-width: 150px;
  background: var(--branco) fixed;
}

.menu-bg,
#menu-bar {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: var(--cinza-escuro);
  border-radius: 50%;
  transition: 0.3s ease;
}

#menu-bar {
  z-index: 2;
}

.change-bg {
  width: 550px;
  height: 540px;
  transform: translate(-60%, -30%);
}

.change .bar {
  background-color: var(--verde-limao);
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
  opacity: 0;
}

.change {
  display: block;
}

#barra__pesquisa {
  height: 2em;
  width: 200px;
  margin: 0.5em;
}

.menu__botao {
  height: 2em;
  width: 60px;
  background-color: var(--preto);
  border: 1px solid var(--branco);
  color: var(--branco);
}

.menu__botao:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.menu__logo {
  background-color: var(--preto);
}
