.produtos__titulo {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.produtos__destaque {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 3em;
}

.card {
  max-width: 400px;
  max-height: 600px;
  padding: 20px;
  margin: auto;
}

.card__imagem {
  padding-bottom: 7px;
}

.card__titulo {
  padding-bottom: 7px;
}

.card__descricao {
  padding-bottom: 7px;
  font-size: 14px;
}

.card__valor {
  padding: 10px 0;
  font-weight: 700;
}

.card__botao {
  text-align: center;
  padding: 0.5em;
  background-color: var(--violeta);
  color: var(--branco);
}
